.container {
    width: 90vw;
    margin: 2rem auto;
    background-color: rgb(218, 235, 241);
    padding: 1rem;
}
    
@media screen and (min-width: 992px) {
    .container {
        width: 50vw;
    }
}

.capitalContainer {
    display: flex;
    justify-content: space-evenly;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}